:root{
  --orangcolor:#FF9933
}
body{
  overflow-x: hidden;
}
/* *{
  border: 2px solid red;
} */
.hoverbutton{
  
 
  color: rgb(255, 255, 255);
 /* background-color: var(--orangcolor); */
 background: transparent;
 border: none;
padding: 5px 10px ;
 
position: relative;
z-index: 1;
}
.hoverbutton2{
  
  color: rgb(255, 255, 255);
 /* background-color: var(--orangcolor); */
 background: transparent;
 border: none;
padding: 5px 10px ;
 
position: relative;
z-index: 1;
}
.hoverbutton2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
 
 
  mask-image: url("/btn-path-right.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  background: black;
  width: 100%;
  height: 110%;
  z-index: -1;
  
}

.hoverbutton::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
 
 
  mask-image: url("/btn-path-right.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  background: #f77b00;
  width: 100%;
  height: 110%;
  z-index: -1;
  transform: all 0.4s;
}
.hoverbutton:hover::before{
  background: black;
  
}

.c-white{
  color: white;
}
.navbar,.headercls{
  z-index: 999;
}
.hov{
  cursor: pointer;
  transition: all 0.6s;
}
.hov:hover{
color: var(--orangcolor);
}


.innernav2{
  position: absolute;
  top: 100%;
  left: 0%;
  border-bottom: 5px solid var(--orangcolor);
     transform: translateY(10%);
     opacity: 0;
     transition: all 1s;
}

.innernav1{
  overflow: hidden;
  padding: 10px 0px;
}
.innernav1:hover{
  overflow: visible;
}

.innernav1:hover div{
  transform: translateY(0%);
  opacity: 1;
}

.home_imgsection{
  height:110vh;
  z-index: 1;
}

.home_imgsection div{
  z-index: 2;
}
.home_imgsection .slider2 {
bottom: 200px;
}

.Elementorysec_img{
  opacity: 1;
  z-index: -1;
}
.blog_img_div{
  height: 30rem;
  z-index: -2;
}
.blog_img{

position: absolute;
z-index: -1;
}
.blog_img_div::before{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0000006c;
  /* z-index: -1; */
}

.blog_innerdiv{
  z-index: 9
}
.blog_section{
  position: relative;
}
.blog_section::before{
  content: "Updates";
position: absolute;
top: 50%;
transform: translateY(-60%);
font-size: 5.4rem;
opacity: 0.2;
z-index: -1
}
.blog_section_text{
  z-index: 4;
}
.blog_img_section2 {

mask-image: url("../public/blog-mask-img-1.png");
mask-size: cover;
overflow: hidden;
transition: all 0.5s;
}
.blog_img_section2 img{
  transition: all 0.5s; 
}
.blog_img_section2:hover img{
  transform: scale(1.1);
}
.blog_img2_section2{
  background-image: url("../public/blog-mask-img.png");
  background-position: contain;
  padding: 10px;
  top: 10%;
  right:5%;
  color: antiquewhite;
  z-index: 2;

}
.blog_section_text p{
color: white;
line-height: 2.5rem;
}
.blog_section_text p:hover{
color: var(--orangcolor);
}
.blog_section_text a{
  color: white;
  text-decoration: none;
 position: relative;
transition: all 0.5s;

  /* border-bottom: 2px solid white; */
}

.blog_section_text a::before{
  content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 2px;
background: white;
transition: all 0.5s;
}
.blog_section_text a:hover{
  color: var(--orangcolor);
}
.blog_section_text a:hover::before{
  background: var(--orangcolor);
width: 0;
}
.footer{
  background-image: url("/Main-footer-bg.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  z-index: -1;
}
.footer::after{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000000bb;
z-index: -1;

}
.z_i{
  z-index: 3;
}
.foooter_bottom{
  color: antiquewhite;
 
}
.footer_2{
border-left: 2px solid white;
}

.inputElement{
  background: transparent;
  border: none;
border-bottom: 1px solid var(--orangcolor);

}
.Elementorysec_img3{
  width: 40%;
}
.Elementorysec_img2 {
opacity: 0;
transform: scale(1.1) rotateZ(-15deg);
transition: all 0.4s;

}
.fs_px{
  font-size: 3.3rem;
}
.Elementorysec_img1:hover .Elementorysec_img2{
  transform: scale(1) rotateZ(0deg);
opacity: 1;
}
.Elemontrysec2_scroller{
  border-radius: 129px 129px 129px 129px;
  height: 350px;
  width: 210px;
}


.Elemontrysec2_scroller::before{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: #e28a577a;
opacity: 0;
transition: all 0.4s;
}
.Elemontrysec2_scroller:hover::before{
  opacity: 1;
}
.Elemontrysec2_scroller b{
  color: white;
  bottom: 30%;
  font-size: 2rem;
  /* transition-delay: 0.2s; */

transition: all 0.4s;

}
.Elemontrysec2_scroller:hover b{
  bottom: 40%;

}
.Elemontrysec2_scroller p{
  color: white;
  bottom: 10%;
  font-size: 1.1rem;

transition: all 0.4s;
/* width: 80%; */


}
.Elemontrysec2_scroller:hover p{
transition-delay: 0.2s;
 
  bottom: 20%;
}
.Elemontrysec2_scroller div {
  bottom: -10%;
transition: all 0.4s;

}
.Elemontrysec2_scroller div a{
  text-decoration: none;
  color: white;
}
.Elemontrysec2_scroller:hover div {
transition-delay: 0.35s;

  bottom: 10%;

}
.Elemontrysec3_bg{
 mask-image: url("/bg-image-icon-box.png");
 width: 100%;
 height: 100%;
}
.Elemontrysec3_1::before{
  content: "01";
  position: absolute;
  top:-20%;
  left: 5%;
  font-size:6rem;
  z-index: -1;
  opacity: 0.06;
}
.Elemontrysec3_2::before{
  content: "02";
  position: absolute;
  top:-20%;
  left: 5%;
  font-size:6rem;
  z-index: -1;
  opacity: 0.06;
}
.Elemontrysec3_3::before{
  content: "03";
  position: absolute;
  top:-20%;
  left: 5%;
  font-size:6rem;
  z-index: -1;
  opacity: 0.06;
}
.Elemontrysec3_4::before{
  content: "04";
  position: absolute;
  top:-20%;
  left: 5%;
  font-size:6rem;
  z-index: -1;
  opacity: 0.06;
}
.Elemontrysec3_5::before{
  content: "05";
  position: absolute;
  top:-20%;
  left: 5%;
  font-size:6rem;
  z-index: -1;
  opacity: 0.06;
}
.Elemontrysec3_6::before{
  content: "06";
  position: absolute;
  top:-20%;
  left: 5%;
  font-size:6rem;
  z-index: -1;
  opacity: 0.06;
}
.Elementorysec4_img{
  width: 45px;
}
.Elementorysec4_img_2{
  mask-image: url("/instagram-mask-image.png");
  width: 100%;
  overflow: hidden;
  transition: all 0.4s;
}
.Elementorysec4_img_3{
  overflow: hidden;
}
.Elementorysec4_img_3:hover .Elementorysec4_img_2{
transform: scale(1.05);
}
.Elementorysec5_img{
  height: 100vh;
  
}

.Elementorysec5_img{
 
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background: #0000007e;
}

.Elementorysec6{
  background-image: url("/bg-image-icon-box.png");
  width: 100%;
  height: 100%;
}
.img_size{
  width: 35%;
}
.Elementorysec7_img{
  width: 100%;
}
.Elementorysec7_div{
 
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px 11px;;
  height: 100%;
  width: calc(100% - 22px);
  background: #00000000;
  transition: all 0.4s;
}

 .Elementorysec7_div:hover{
  background: #000000ab;

}
.Elementorysec8_img{
  mask-image: url("/Test-image-01.png");
  mask-size: cover;
}
.Elementorysec8_img2{
  mask-image: url("/Testimonial-image-02.png");
  mask-size: cover;
}
.star_color{
  color: gold;
}
.Elementorysec10{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/mailchimp-bg-1.jpg");
  height: 100%;
  width: 100%;
  
 
 
  z-index: -1;
}
.Elementorysec10::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000a9;
}
.Elementorysec11_img{
 
 
 z-index: -1;

}
.Elementorysec11_div1{
  mask-image: url("/thumb-mask-image.png");
  mask-size: cover;
  overflow: hidden;
}
.Elementorysec11_div2{
  overflow: hidden;
  width: 200px;
  height: 200px;
}
.Elementorysec11_div{
  
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: #f8b45a56;
  z-index: 1;
  transition: all 0.4s;
}
.Elementorysec11_i{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 22;
  color: white;font-size: 20px;
  transform: translate(-100% ,-50%);
  opacity: 0;
  transition: all 0.4s;
}
.Elementorysec11_div1:hover .Elementorysec11_i{
opacity: 1;
transition-delay: 0.2s;
}
.Elementorysec11_div1:hover .Elementorysec11_div{
  height: 100%;
}

.rotate_img{
  animation: rotatee 4s infinite linear;
}
@keyframes rotatee {
  0%{
    transform: rotateZ(0deg);
  }
  
  100%{
    transform: rotateZ(361deg);
  }
}
.input_bg{
  position: relative;

  border: none;
  padding: 10px ;
 mask-image: url("/button-path.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  background: #ffffff;
  width: 100%;
  height: 110%;
z-index: 99;
}

@media (max-width:991px) {
  .nav{
    position: fixed;
    top: 0;
    background: white;
    right:-100%;
    transition: all 0.5s;
  }
.nav2{
  right: 0;
}

}
.accomedation_section1::before{
content: "Travel";
position: absolute;
top:50%;
left: 50%;
font-size: 70px;
letter-spacing: 15px;
transform: translate(-50%,-50%);
z-index: -1;
opacity: 0.2;

}
.accomedation_section2{
  background: var(--orangcolor);
}
.fa-star{
  color: gold;
}
.accomedation_section2_span{
  border: 2px solid black;
  border-width:  0 2px 0 2px;
}
@media (max-width:500px) {
  .slide{
    height: 40px;
    overflow: hidden;
  }
  
}